<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUg9WieYmhDWTuNFoORRoJ-gl1gw9X1RQ&libraries=places"></script>

    <div id="vue-app"></div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript">
      window.csrf_token = <%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>;
    </script>
  </body>
</html>
