// Forms
// ----------


%default-input {
  display: inline-block;
  height: $input-height;
  font-weight: $font-weight-regular;
  font-size: $font-size-regular;
  border-width: $input-border-width;
  border-radius: $input-border-radius;
  border-color: $input-border-color;

  @include hover {
    color: $input-text-color-hover;
    background-color: $input-background-color-hover;
    border-color: $input-border-color-hover;
  };
}
