// Forms
// ----------


// Form controls
//
// BEGIN

.app-form-control {
  display: block;
  width: $input-width;
  height: $input-height;
  font-size: $font-size-base;
  color: $input-color;
  background-color: $input-background-color;
  background-clip: padding-box;
  padding: $input-padding;
  line-height: $input-line-height;
  border-width: $input-border-width;
  border-style: $input-border-style;
  border-color: $input-border-color;
  border-radius: $input-border-radius;

  @include form-control-hover-focus;
}

// Contextual form controls
@each $color, $value in $theme-colors {
  .app-form-control-#{ $color } {
    @include form-control-variant($value);
  }
}

// END


// Form groups
//
// BEGIN

.app-form-group {
  margin-bottom: $form-group-margin-bottom;
}

.app-form-text {
  display: block;
  margin-top: $form-text-margin-top;
}

// END
