// Forms
// ----------


// Form feedback
//
// BEGIN

.form-feedback {
  display: none;
  width: 100%;
  margin-top: $form-feedback-margin-top;
  font-size: $form-feedback-font-size;
  font-weight: $form-feedback-font-weight;
}

// Variant feedbacks
@each $name, $value in $form-feedback-colors {
  @include form-feedback-variant('.form-feedback-#{ $name }', $value);
}

// END


// Form controls
//
// BEGIN

.form-control {
  @include as-form-control;

  @include form-control-hover-focus;
}

// Contextual form controls
@each $name, $value in $theme-colors {
  @include form-control-variant('.form-control-#{ $name }', $value);
}

// END


// Form groups
//
// BEGIN

.form-group {
  margin-bottom: $form-group-margin-bottom;
}

.form-text {
  display: block;
  margin-top: $form-text-margin-top;
}

// END


// Form checks
//
// BEGIN

.form-check {
  @include as-form-check;
}

// END
