// This file contains all Sass colors.
// ----------


// Descriptive color variables
//
// BEGIN

// Default
$white                      : #ffffff !default;
$gray-100                   : #f9f9f9 !default;
$gray-200                   : #f2f2f2 !default;
$gray-300                   : #d9d9d9 !default;
$gray-400                   : #bfbfbf !default;
$gray-500                   : #a6a6a6 !default;
$gray-600                   : #8c8c8c !default;
$gray-700                   : #737373 !default;
$gray-800                   : #595959 !default;
$gray-900                   : #404040 !default;
$black                      : #000000 !default;

// Others
$anti-flash-white           : #f1f2f6 !default;
$american-river             : #636e72 !default;
$aurora-green               : #78e08f !default;
$azraq-blue                 : #4a69bd !default;
$bay-wharf                  : #747d8c !default;
$black-pearl                : #1e272e !default;
$bright-greek               : #3742fa !default;
$bright-yarrow              : #fdcb6e !default;
$bruschetta-tomato          : #ff6348 !default;
$carrot-orange              : #e58e26 !default;
$chi-gong                   : #d63031 !default;
$chrome-yellow              : #ffa801 !default;
$city-lights                : #dfe4ea !default;
$clear-chill                : #1e90ff !default;
$coral                      : #ff7f50 !default;
$dark-periwinkle            : #575fcf !default;
$dark-sapphire              : #0c2461 !default;
$dracula-orchid             : #2d3436 !default;
$dupain                     : #60a3bc !default;
$electron-blue              : #0984e3 !default;
$exodus-fruit               : #6c5ce7 !default;
$fade-poster                : #81ecec !default;
$first-date                 : #fab1a0 !default;
$flat-flesh                 : #fad390 !default;
$forest-blues               : #0a3d62 !default;
$free-speech-blue           : #3c40c6 !default;
$french-sky-blue            : #70a1ff !default;
$fresh-turquoise            : #34e7e4 !default;
$golden-sand                : #eccc68 !default;
$good-night                 : #485460 !default;
$good-samaritan             : #3c6382 !default;
$green-darner-tail          : #74b9ff !default;
$green-teal                 : #05c46b !default;
$grisaille                  : #57606f !default;
$highlighter-pink           : #ef5777 !default;
$hint-of-elusive-blue       : #d2dae2 !default;
$iceland-poppy              : #fa983a !default;
$jade-dust                  : #00d8d6 !default;
$jalapeno-red               : #b71540 !default;
$light-greenish-blue        : #55efc4 !default;
$lime-soap                  : #7bed9f !default;
$livid                      : #6a89cc !default;
$london-square              : #808e9b !default;
$mandarin-red               : #e55039 !default;
$megaman                    : #4bcffa !default;
$melon-melody               : #f8c291 !default;
$mint-leaf                  : #00b894 !default;
$minty-green                : #0be881 !default;
$narenji-orange             : #ffc048 !default;
$orange                     : #ffa502 !default;
$orangeville                : #e17055 !default;
$paradise-green             : #b8e994 !default;
$peace                      : #a4b0be !default;
$pico-8-pink                : #fd79a8 !default;
$pink-glamour               : #ff7675 !default;
$prestige-blue              : #2f3542 !default;
$prunus-avium               : #e84393 !default;
$red-orange                 : #ff3f34 !default;
$reef-encounter             : #079992 !default;
$robin-egg-blue             : #00cec9 !default;
$saturated-sky              : #5352ed !default;
$shark                      : #292d30 !default;
$soothing-breeze            : #b2bec3 !default;
$sour-lemon                 : #ffeaa7 !default;
$shy-moment                 : #a29bfe !default;
$sizzling-red               : #f53b57 !default;
$spiro-disco-ball           : #0fbcf9 !default;
$spray                      : #82ccdd !default;
$squash-blossom             : #f6b93b !default;
$sunset-orange              : #ff5e57 !default;
$tomato-red                 : #eb2f06 !default;
$twinkle-blue               : #ced6e0 !default;
$ufo-green                  : #2ed573 !default;
$vibrant-yellow             : #ffd32a !default;
$yriel-yellow               : #ffdd59 !default;
$yue-guang-lan-blue         : #1e3799 !default;
$waterfall                  : #38ada9 !default;
$watermelon                 : #ff4757 !default;
$wild-watermelon            : #ff6b81 !default;
$woodsmoke                  : #111114 !default;

// END
