@import "color";

.form-container {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;

  .form-logo {
    margin-bottom: 50px;
  }
}


.form-box {
  padding: 30px;

  form {
    & > div {
      margin: 0;
      margin-bottom: 20px;
    }

    label {
      text-transform: uppercase;
      letter-spacing: .5px;
      font-weight: bold;
      font-size: 11px;
    }

    button.submit {
      width: 100%;
      color: white;
      background-color: $bb-primary-900;
    }
  }
}

.form-callout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  a {
    color: $bb-primary-900;
    font-weight: bold;
    text-decoration: underline;
  }
}

.form-box,
.form-callout {
  border: 1px solid $bb-dusty-200;
  background-color: white;
}

.forgot-password {
  button {
    color: $bb-dusty-400;
    font-size: 12px;
    font-weight: lighter;
    border: none;
    background: none;
    padding: 0;

    &:hover { cursor: pointer; }
  }
}
