@import 'fontawesome';
@import 'fa-solid';
@import 'fa-regular';

@import 'colors';
@import 'components/index';
@import 'forms';
@import 'google';
@import 'icons';
@import 'pages/index';
@import 'react-modal';
@import 'react-select';

/* This file is for your main application css. */

html,
body,
.breakbench-app,
.app-content {
  height: 100%;
  width: 100%;
}

body {
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}

.logged-welcoming {
  width: 380px;
  padding: 30px;
  border: 1px solid $bb-primary-900;
  background-color: white;
  text-align: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1111;
}
