/* Primary Color */
$bb-primary-100: #dcebfd;
$bb-primary-200: #9fc7fc;
$bb-primary-300: #78A8f2;
$bb-primary-600: #36393f;
$bb-primary-700: #1f1f1f;
$bb-primary-800: #393e42;
$bb-primary-900: #292d30;

$bb-secondary: white;

/* Grey Color */
$bb-dusty-100: #f9f9f9;
$bb-dusty-200: #e5e5e5;
$bb-dusty-400: #8d8d8d;
$bb-dusty-600: #454545;

/* Danger Color */
$bb-danger-100: #fdf1f2;
$bb-danger-400: #dc3545;
$bb-danger-900: #8c0628;

/* Success Color */
$bb-success-100: #e4fff4;
$bb-success-400: #00f593;
$bb-success-500: #00d37e;
$bb-success-600: #00b16a;
$bb-success-900: #003a23;
