/* Primary Color */
$primary-color: #0fbcf9;

/* Secondary Color */
$secondary-color: #34e7e4;

/* Grey Color */
$dusty-light: #e5e5e5;
$dusty: #8d8d8d;
$dusty-dark: #454545;

/* Danger Color */
$danger-light: #fdd7e1;
$danger: #fcb7c8;
$danger-dark: #8c0628;
