@import "color";

button.btn,
input.form-control {
  border-radius: 0px;
  font-size: 14px;
}

input.form-control {
  border-color: $dusty-light;
}

.form-group.has-error {
  input {
    border: 1px solid $danger;
    background-color: $danger-light;
  }
}
