@import "colors";

button.btn,
input.form-control {
  border-radius: 0px;
  font-size: 14px;
}

form {
  .btn,
  .form-control {
    &:focus {
      box-shadow: none;
    }
  }
}

input.form-control {
  border-color: $bb-dusty-200;
  &:focus {
    border-color: $bb-primary-900;
  }
}

.form-group.has-error {
  input {
    border: 1px solid $bb-danger-400;
    background-color: $bb-danger-100;
  }
}
