@import "color";

button.btn,
input.form-control {
  border-radius: 0px;
  font-size: 14px;
}

input.form-control {
  border-color: $bb-dusty-200;
}

.form-group.has-error {
  input {
    border: 1px solid $bb-danger-400;
    background-color: $bb-danger-100;
  }
}
