@import 'colors';

.autocomplete-dropdown-container {
  border: 1px solid $bb-dusty-200;

  &:empty {
    display: none;
  }

  .suggestion-item,
  .suggestion-item--active {
    padding: 10px;
    cursor: pointer;
  }

  .suggestion-item {
    background-color: $bb-secondary;
  }

  .suggestion-item--active {
    background-color: $bb-dusty-100;
  }
}
