.register-form {
  width: 100%;

  .register-form__form-group {
    margin: 0;
    margin-bottom: 20px;

    .register-form__form-group--label {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11px;
    }

    .register-form__form-group--input {
      margin-bottom: 5px;
    }
  }

  .register-form__submit {
    width: 100%;
    color: white;
    background-color: $bb-primary-900;
  }
}
