@import "../color";

.loading-overlay {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-transform: translateZ(0);
  align-items: center;
  color: $bb-primary-900;
  background-color: $bb-secondary;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-rendering: optimizeLegibility;
  top: 0;
  transform: translateZ(0);
  z-index: 3000;
  text-transform: uppercase;
}
