// Align
// ----------


@mixin absolute-centerer($horizontal: true, $vertical: true) {
  $prefixes: ('webkit', 'ms');

  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    @include prefix(transform, translate(-50%, -50%), $prefixes);
  } @else if ($horizontal) {
    left: 50%;
    @include prefix(transform, translate(-50%, 0), $prefixes);
  } @else if ($vertical) {
    top: 50%;
    @include prefix(transform, translate(0, -50%), $prefixes);
  }
}
