// Forms
// ----------


// Form controls
//
// BEGIN

@mixin as-form-control {
  display: block;
  width: $input-width;
  height: $input-height;
  font-size: $font-size-base;
  color: $input-color;
  background-color: $input-background-color;
  background-clip: padding-box;
  padding: $input-padding;
  line-height: $input-line-height;
  border-width: $input-border-width;
  border-style: $input-border-style;
  border-color: $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: $input-box-shadow;
}

// Contextual form controls
@mixin form-control-variant($class, $color) {
  #{ $class } {
    border-color: $color;

    @include hover-focus {
      border-color: $color;
    };

    @include enable-feedback;
  }
}

// Form control events
@mixin form-control-hover {
  @include hover {
    color: $input-hover-color;
    background-color: $input-hover-background-color;
    border-color: $input-hover-border-color;
  }
}

@mixin form-control-focus {
  @include focus {
    color: $input-focus-color;
    background-color: $input-focus-background-color;
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
    outline: 0;
  }
}

@mixin form-control-hover-focus {
  @include form-control-hover;
  @include form-control-focus;
}

// END


// Form feedback
//
// BEGIN

@mixin enable-feedback {
  ~ .form-feedback {
    display: block;
  }
}

@mixin form-feedback-variant($class, $color) {
  #{ $class } {
    color: $color;
  }
}

// END


// Form checks
//
// BEGIN

@mixin as-form-check {
  position: relative;
  display: block;
  padding-left: $form-check-input-gutter;

  input[type=checkbox],
  input[type=radio] {
    position: absolute;
    margin-top: $form-check-input-margin-y;
    margin-left: -$form-check-input-gutter;

    & + * {
      margin-bottom: 0;
    }
  }
}

// END
