// Grid
// ----------


@mixin as-container {
  width: 100%;
  padding: $grid-gutter-width;
  margin-right: auto;
  margin-left: auto;
}

@mixin as-row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row nowrap;
}
