// Text
// ----------


// Text styling
//
// BEGIN

@mixin text(
  $size   : $font-size-base,
  $weight : $font-weight-base,
  $color  : $primary-color
) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

// END


// Contextual text
//
// BEGIN

@mixin text-variant($color) {
  color: $color;
}

// END
