// Text
// ----------


// Text styling
//
// BEGIN

@mixin text(
  $size: $font-size-base,
  $weight: $font-weight-base,
  $color: $primary-color
) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

// END


// Contextual text
//
// BEGIN

@mixin text-color-variant($class, $color) {
  #{ $class } {
    color: $color;
  }

  a#{ $class } {
    @include hover-focus {
      color: darken($color, 12.5%);
    }
  }
}

@mixin text-size-variant($class, $size) {
  #{ $class } {
    font-size: $size;
  }
}

@mixin text-weight-variant($class, $weight) {
  #{ $class } {
    font-weight: $weight;
  }
}

@mixin text-size-weight-combo($class, $size, $weight) {
  #{ $class } {
    font-size: $size;
    font-weight: $weight;
  }
}

// END


// Alignment
//
// BEGIN

@mixin text-align($class, $value) {
  #{ $class } {
    text-align: unquote($value);
  }
}

// Text truncate
// Requires inline-block or block for proper styling
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// END


// Transformation
//
// BEGIN

@mixin text-transform($class, $value) {
  #{ $class } {
    text-transform: unquote($value);
  }
}

// END
